body{
    width:100vw;
    height:100vh;
}
.left-div{
    background-color:white;
    height:100vh;
    width:20vw;
}
.middle-div{
    margin-left: 20vw;
    background-color:#f5f6fb;
    width:60vw;
    height:100vh;
}
.right-div{
    margin-left: 60vw;
    position: absolute;
    background-color: white;
    width:25vw;
    height:100vh;
}
.one{
    background-color: #fabdac;
    opacity: 0.3;
    width:54vw ;
    height:20vh;
    margin-left:3vw;
    border-radius: 1vw;
    position: absolute;
    top: 5vw;
    box-shadow: 1px 1px 1px 1px #fabdac;

}
.two{
    background-color: white;
    width:22vw;
    height:46vh;
    position: absolute;
    margin-left: 3vw;
    top:17vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 1px 1px white;
}
.three{
    background-color: white;
    width:31vw;
    height:46vh;
    position: absolute;
    margin-left:26vw;
    top:17vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 1px 1px white;

}
.four{
    background-color:#4a04b3;
    width:17.5vw;
    height:5vw;
    position: absolute;
    margin-left:3vw ;
    top:42vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 1px 1px #4a04b3;
}
.five{
    background-color:#4a04b3;
    opacity: 0.3;
    width:17.5vw;
    height:5vw;
    position: absolute;
    margin-left:21.5vw ;
    top:42vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 1px 1px #4a04b3;
}
.six{
    background-color:#e66e88;
    width:17.5vw;
    height:5vw;
    position: absolute;
    margin-left:40vw ;
    top:42vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 1px 1px #e66e88;
}